.wrapper {
  width: 1600px;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  position: relative;
  width: 50%;
  line-height: 1;
  text-align: center;
  align-self: stretch;
}

.aside img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}
.aside h1 {
  font-size: 5rem;
}

.aside h1:nth-child(3) {
  color: #ef9d31;
  font-size: 6rem;
  padding-left: 20%;
}

.aside h1:nth-child(5) {
  text-align: center;
}

.aside h1 span {
  color: #3560ae;
}

.form-wrapper {
  width: 50%;
}
